<nav class="navbar">
    <a routerLink="/" class="navbar__link">
        <app-logo-empleatech [sizeTitleText]="30"></app-logo-empleatech>
    </a>


    <div class="navbar__contenedor-botones">
        @if(!(isLogged$ | async)){

            <app-boton 
            styleButton="secondary" text="Iniciar Sesión" 
            (onClick)="goTo('/login')"></app-boton>

            <app-boton 
            text="Registrarse" (onClick)="goTo('/registro')"></app-boton>

        }@else{
            <app-boton 
            styleButton="secondary" text="Equipo" 
            (onClick)="goTo('/equipo')"></app-boton>

            <app-boton 
            text="Emprendimiento" 
            (onClick)="goTo('/emprendimiento')"></app-boton>

            <div class="navbar__contenedor-usuario">
                <div class="navbar__usuario-info">
                    <span>{{(usuarioInfo$ | async)?.usuario}}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" /><path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" /></svg>
                </div>


            <button class="navbar__icono-boton boton" (click)="logout()" title="Cerrar sesión" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                    <path d="M9 12h12l-3 -3" />
                    <path d="M18 15l3 -3" />
                </svg>
            </button>

            </div>

            


        }
    </div>

</nav>